<!DOCTYPE html>
<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header', {pagina: 'sobre'}); %>
    <main>
        <div class="jumbotron">
            <h1>Sobre Mim</h1>
            <p>Oi sou Átila, pesquisador</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
